@font-face {
  font-family: "myFontLogo1";
  src: url("/fonts/Whatdo.woff") format("woff"),
    url("/fonts/Whatdo.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

*:not(dialog) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", serif;
}

:root {
  font-size: 62.5%;

  --hue: 210;
  --main-color: hsl(var(--hue), 70%, 50%);
}

.hide {
  display: none;
}

/* home-page */
.home-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.home-page h1 {
  font-size: 10rem;
  color: #000000;
}

.home-page button {
  background-color: #717171;
  border: none;
  padding: 1.8rem 2rem;
  font-size: 1.6rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}

button {
  cursor: pointer;
  padding: 1.2rem 2rem;
  border-radius: 0.8rem;
  border: solid 0.2rem var(--main-color);

  background-color: var(--main-color);
  color: white;
  opacity: 0.9;
  transition: 0.2s;
}

button:hover {
  opacity: 1;
}

input {
  padding: 1.2rem;
  border-radius: 0.8rem;
  border: solid 1px #dadada;
  outline: none;
  width: 100%;
}

input:focus {
  border: 0.2rem solid var(--main-color);
}

body {
  font-size: 1.6rem;
  overflow: hidden;
  padding: 0 1.5rem;
  background-color: #f8f8f8;
}

.page {
  height: 100vh;
  max-width: 100rem;
  margin: 0 auto;
}

header {
  padding: 4rem;
  text-align: center;
}

h1 {
  font-family: "myFontLogo1", serif;
  font-weight: normal;
  font-size: 8rem;
  letter-spacing: 1rem;
  color: #535353;
}

#options-home {
  display: flex;
  justify-content: center;
  gap: 0.3rem;

  margin-bottom: 3rem;
  padding: 2rem 0;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  padding-bottom: 1rem;
  font-weight: 500;
}

span {
  color: var(--main-color);
  font-weight: 300;
}

h3 span {
  cursor: pointer;
}

h3 span:hover {
  opacity: 0.5;
}

#options-home button + button,
#options-register button + button {
  margin-left: 1rem;
}

.card {
  width: 90rem;
  max-width: 90%;
  margin: auto;

  position: relative;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 2rem 2rem 8rem;

  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

table {
  border: none;
  border-collapse: collapse;
}

th {
  text-align: start;
  padding: 0.8rem 1rem;
  background-color: rgba(0, 0, 0, 0.03);
}

.empty {
  text-align: start;
  padding: 0.8rem 1rem;
  background-color: transparent;
}

td {
  text-align: start;
  padding: 0.8rem 1rem;
}

i {
  cursor: pointer;
}

.card p {
  position: absolute;
  left: 50%;
  bottom: 0.5rem;
  transform: translate(-50%);
  font-size: 1.2rem;
  font-weight: 700;
}

#options-register {
  padding: 4rem 6rem 0;
}

#options-register form {
  display: flex;
  flex-direction: column;
}

#options-register input {
  margin-bottom: 2rem;
}

#cancel {
  color: #000000;
  background-color: #c8c8c8;
  border: solid 0.15rem #c8c8c8;
}

.delete {
  color: #c80000;
}

.edit {
  color: var(--main-color);
}

dialog {
  margin: auto;
  min-width: 40rem;
  max-width: fit-content;
  height: 50%;
  overflow: auto;
  border: none;
  border-radius: 0.8rem;
  padding: 3rem 6rem 0;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

dialog h4 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 2rem;
}

dialog p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

dialog p:last-child {
  border: none;
}
